body {
    display: flex;
    justify-content: center;
    background-color: #005799;
    background-image: url("./black-thread-light.png");
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #9faccf;
    border: 3px dotted black;
    border-radius: 10px;
    padding: 32px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
